# Use markdownlint-cli instead of Prettier
*.md
*.markdown

# Use yamllint instead of Prettier
*.yml
*.yaml

# Claude Code
.claude/

# Serena MCP
.serena/

# 3rd party code
/.github/styles/

# Others
/docs/
/tsconfig.json
