extends layouts/_layout
block append variables
  - description = "haruのマジック（手品）に関するページ。";
  - const pageKeywords = 'マジック,手品,奇術,メンタリズム,haru,magic,mentalism,trick,conjuring,illusion';
  - const pageTitle = 'マジック';
  - const filePath = 'magic.html';
block content
  ul
    li
      a(href='#') ショップ（準備中）
      | ：カードマジックの手順を解説するレクチャーノート（電子書籍）などを販売しています
    li
      a(href='https://note.com/haruu_52/' target='_blank' rel='noreferrer') note
      | ：マジックについて手順解説以外の情報をまとめた文章を販売しています
    li
      a(href='https://haru52.com/magic_lecture_license/' target='_blank' rel='noreferrer')
        | Magic Lecture License
      | ：マジック（手品）本などの購入者に対して権利と義務を規定するライセンスです
