extends layouts/_layout
block append variables
  - description = 'haruのマジック（手品）に関するページ。';
  - const pageKeywords = 'haru,haru52,マジック,手品,奇術,メンタリズム,magic,mentalism,trick,conjuring,illusion';
  - const pageTitle = 'マジック';
  - const filePath = 'magic.html';
block content
  ul
    li
      a(href='https://haru-52.booth.pm/' target='_blank' rel='noreferrer')
        i.fa-solid.fa-store.fa-fw
        |  ショップ
      br
      | クロースアップマジックの手順を解説したレクチャーノート（電子書籍）などを販売しています
    li
      a(href='https://note.com/haruu_52/' target='_blank' rel='noreferrer')
        i.fa-solid.fa-note-sticky.fa-fw
        |  note
      br
      | マジックに関する手順解説以外の記事などを販売しています
    li
      a(href='https://haru52.com/magic_lecture_license/' target='_blank' rel='noreferrer')
        i.fa-solid.fa-file-contract.fa-fw
        |  Magic Lecture License
      br
      | マジック（手品）本などの購入者に対して権利と義務を規定するライセンスです
    li
      a(
        href='https://blufflog.hatenablog.com/archive/category/Magic'
        target='_blank'
        rel='noreferrer'
      )
        i.fa-solid.fa-blog.fa-fw
        |  ブログ（Blufflog）
      br
      | マジックに関する記事などを書いています
  .embeded-youtube
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=FbZO4Por0CgFJYjI&amp;list=PLZIpPNSyMMCoUjEk92Wdd2T8kMx1k_Mr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
