extends layouts/_layout
block append variables
  - description = 'Privacy policy of haru website.';
  - const pageKeywords = 'privacy policy';
  - const pageTitle = 'Privacy Policy';
block content
  p January 20th, 2023
  ol
    li
      | This website uses
      |
      a(href='https://developers.google.com/analytics' target='_blank' rel='noreferrer')
        | Google Analytics
