doctype html
html.h-100(lang='en')
  head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block title
      title haru
    link(rel='icon' href=require('../assets/images/favicon.png'))
  body.d-flex.flex-column.h-100
    include ../components/_header
    article.container
      block content
    include ../components/_footer
