doctype html
html(lang='en')
  head
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block title
      title haru
    link(rel='icon' href=require('../assets/images/favicon.png'))
  body
    include ../components/_header
    .container
      article
        block content
      include ../components/_footer
